@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500&display=swap');
*{
  margin: 0 ,20px, 20px, 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik',sans-serif;
}

/* .loader {

  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: animate 0.5s linear infinite;

} */
/* .loader span:nth-child(1) {
  filter :blur(5px);
}

.loader span:nth-child(2) {
  filter :blur(10px);
}

.loader span:nth-child(3) {
  filter :blur(25px);
}

.loader span:nth-child(1) {
  filter :blur(50px);
} */

/* .loader:after {
  content: "";
  position: absolute;
  height: 100px;
  border-radius: 100px;
  background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
  animation: animate 0.5s linear infinite;
} */

/* @keyframes animate {

  0% 
  {
    transform: rotate(0deg) ;
  }
  100% 
  {
    transform: rotate(360deg) ;
  }
} */

#scrollpath {
  position: fixed;
  top :0;
  right:0;
  width:0;
  height: 0;
  background: rgba(255,255,255,0.05);
}
#preogressbar {
  position: fixed;
  top:0;
  right: 0;
  width: 10%;
  height: 50%;
  background: linear-gradient(to top,#008aff, #00ffe7);
  animation: animate 5s linear infinite;
}

#preogressbar:before,
#preogressbar:after {
content :'';
position: absolute;
top:0;
left: 0;
width: 100%;
height: 100%;
background: repeating-linear-gradient(to top,#008aff, #00ffe7);
filter:  blur(10px);
}
#preogressbar:after {
  filter: blur (30px);
}
@keyframes animate {
   0%, 100%
   {
     filter: hue-rotate (0deg)
   
   }
   50%{
     filter:  hue-rotate(360deg);
   }
}
 ::-webkit-scrollbar
body {
margin: 20px;
display: flex;
justify-content: center;
align-self: center ;
min-height: 100vh;
background: #222;
}

.container{
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: minmax(100px, auto);
  margin: 40px;
  grid-auto-flow: dense;
  grid-gap: 10px;

}
.container .box {
background: #333;
padding: 20px;
display: grid;
font-size: 20px;
place-items:center;
text-align: center;
color:#fff;
transition: 0.5s;
}

.container .box:hover
{
  background: #e91e63;
}

.container .box img{
  position: relative ;
  /* max-width: 100px; */
  margin-bottom: 10px;
}

.container .box:nth-child(1){
  grid-column: span 2;
  grid-row: span 1;
}
.container .box:nth-child(2){
  grid-column: span 1;
  grid-row: span 2;
}
.container .box:nth-child(4){
  grid-column: span 1;
  grid-row: span 2;
}
.container .box:nth-child(5){
  grid-column: span 3;
  grid-row: span 1;
}
@media (max-width:991px){
  .container{
  
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: minmax(auto, auto);
 
  }
  .container .box{
    grid-column:  unset !important;
    grid-row: unset !important;
  }
}