body {
  background-color: #f4f4f4;
display: flex;
justify-content: center;
align-self: center ;
min-height: 100vh;
background: #222;
}

.container{
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-template-rows: minmax(100px,auto);
  margin: 40px;
  grid-auto-flow: dense;

}
.container.box {
background: #333;
padding: 20px;
display: grid;
font-size: 20px;
}